body
{
	background-image: url('dollar.jpg');
}
h1
{
	background-color: grey;
	 color:gold;
	  padding:2px;
	   width:1000px ;
	  
	   border:8px;
}
h2
{
	text-align: center;
	background-color: grey;
	 color:black;
	  padding:2px;
	   width:500px ;
	   border:8px;
}
h3
{
	color:red;
}